# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
.env
env/

# IDEs
.idea/
.vscode/

# Project specific
*.log
.coverage
htmlcov/
referenceSolution/
*.txt
.DS_Store
._*
.ipynb_checkpoints/
*.pt
*.bin
*.safetensors

